* {
    font-family: 'Nunito', sans-serif;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    font-size: 16px;
}

html {
    background-color: hsl(197, 100%, 80%);
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.container_login {
    background-color: hsl(197, 100%, 50%);
    color: white;
    margin: auto;
    width: 400px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.container_login h1 {
    text-align: center;
    border-bottom: solid white 1px;
    margin: 1rem;
    font-size: 2rem;

}

.container_login p {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;
}

.container_login input {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.container_login button {
    font-size: 1.2rem;
    background-color: hsl(197, 100%, 50%);
    outline: none;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: 1rem;
    margin: 1rem 0;
}

.container_login button:hover {
    cursor: pointer;
    background-color: hsl(197, 100%, 60%) ;
}


/******* Dashboard ********/

.container_dashboard {
    width: 100%;
    background-color: hsl(197, 100%, 50%);
    color: white;
    display: grid;
    padding: 2.5rem;
    grid-template-areas: 
            "t t t t t t t"
            "n n n h h r r"
            "n n n h h r r"
            "n n n h h r r"
            "p p p s s s s"
            "p p p s s s s"
            "p p p s s s s";
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(253, 253, 253) ;
}

.container_dashboard .header {
    grid-area: t; 
    display: flex;
    justify-content: space-between;
    border-bottom: solid white 1px;
}
.container_dashboard .title {
    font-size: 3rem;
}

.container_dashboard .header p {
    font-size: 2rem;
    margin:1rem;
}

.container_dashboard .logout {
    font-size: 1.2rem;
    background-color: hsl(197, 100%, 55%);
    outline: none;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    display:block;
    width: 150px;
}

.container_dashboard .logout:hover {
    background-color: hsla(207, 89%, 74%, 0.938);
    cursor: pointer;
}

/******* Player ******/

.container_player {
    padding: 2rem 0;
    grid-area: n;
}

.container_player h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.container_player p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.container_player label {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.container_player input {
    font-size: 1.2rem;
    background-color: hsl(197, 100%, 55%);
    outline: none;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: 0.5rem;
    margin: 1rem 0;
    display: block;
    width: 300px;
}

.container_player .button {
    font-size: 1.2rem;
    background-color: hsl(197, 100%, 55%);
    outline: none;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    display: block;
    width: 150px;
}

.container_player .button:hover {
    background-color: hsla(207, 89%, 74%, 0.938);
    cursor: pointer;
}

/****** PlayerList ******/

.container_playerList {
    grid-area: p;
    padding: 2rem 0;
    margin-right: 200px;
}

.container_playerList h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.container_playerList select {
    display: block;
    padding: 0.5rem;
    background-color: hsl(197, 100%, 55%);
    color: white;
    outline: none;
    border: solid 1px white;
    border-radius: 5px;
    width: 300px;
}

.container_playerList p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.container_playerList label {
    font-size: 1.2rem;
}

.container_playerList #distance {
    font-size: 1.2rem;
    background-color: hsl(197, 100%, 55%);
    outline: none;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: 0.5rem;
    margin: 1rem 0;
    display: block;
    width: 300px;
}

.container_playerList .button {
    font-size: 1.2rem;
    background-color: hsl(197, 100%, 55%);
    outline: none;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    display: block;
    width: 150px;
}

.container_playerList .button:hover {
    background-color: hsla(207, 89%, 74%, 0.938);
    cursor: pointer;
}

.container_playerList .position {
    margin-top: 1rem
}

/****** PlayerSpecs ******/

.container_playerSpecs {
    grid-area: s;
    padding: 2rem 0;
    max-width: 800px;
}

.container_playerSpecs .box{
    margin: 0rem 1rem;
    width: 700px;
}


.container_playerSpecs h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem
}


.container_playerSpecs select {
    display: block;
    padding: 0.5rem;
    background-color: hsl(197, 100%, 55%);
    color: white;
    outline: none;
    border: solid 1px white;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 1rem;
}

.container_playerSpecs p {
    font-size: 1.2rem;  
}

/******* Ranking ********/

.container_ranking {
    grid-area: r;
    padding: 2rem 0;
    
}

.container_ranking h1 {
    font-size: 1.5rem;
}

.container_ranking p {
    font-size: 1.2rem;
}

.container_ranking .box {
    margin: 1rem;
    width: 400px;
}

/********History *******/

.container_history {
    grid-area: h;
    margin-left: 1rem;
    padding: 2rem 0;
    word-wrap: break-word;
}

.container_history h1 {
    font-size: 1.5rem;
}

.container_history p {
    font-size: 1.2rem;
}

.container_history .box {
    margin: 1rem;
    width: 400px;
   
}

/***** logout *****/


